<link rel="stylesheet" href="/css/signup.css">
<div class="sign-up-container">
    <form action="/users/create" method="POST">
        
            <input class="form-input-field" type="email" size="35" name="email" placeholder="Enter Email" required>
        
            <input class="form-input-field" type="text" size="35" name="name" placeholder="Enter Name" required>
        
            <input class="form-input-field" type="password" size="35" name="password" placeholder="Enter Password" required>
    
        <input class="form-input-field" type="password" size="35" name="confirm_password" placeholder="Confirm Password" required>
    
        
    <button class="sign-up-button" type="submit" value="Sign-up">Sign Up</button>
    </form>
</div>