<h1>Students</h1>
<div class="students-list-container">
    <ul>
        <li>
            <% for(student of students){ %>
                <%= student.name %>
                <%= student.batch %>
            <% } %>

        </li>
    </ul>
    <form action="/students/create" method="POST">
       <input type="text" placeholder="Enter name" name="name" />
       <input type="text" placeholder="Enter batch" name="batch" />
       <input type="number" placeholder="Enter DSAFinalScore" name="DSAFinalScore" />
       <input type="number" placeholder="Enter WebDevFinalScore" name="WebDevFinalScore" />
       <input type="number" placeholder="Enter ReactFinalScore" name="ReactFinalScore" />
       
       
       <button type="submit">Submit</button>
    </form>

    <a href="/jobs">Search Jobs</a>
    <a href="/students/Interviews" >Create Interview</a>
    <a href="/students/export">Export CSV</a>
</div>
